<!DOCTYPE html>
<!-- Fragment with letters-->
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <link href="../css/fragmentCSS/menu.css" rel="stylesheet" type="text/css" th:href="@{../css/fragmentCSS/menu.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div style="background-color: #e8e8e8;" class="col-12" th:fragment="letterPanel">
    <div style="margin-left: 15%;" class="nav">
        <a th:each="letter:${session.letterList}" th:text="${letter}" th:href="@{/searchByLetter(id=${letter})}"
           class="nav-link" th:classappend="${session.letterId eq letter}? disabled:singleLetter"></a>
    </div>

</div>

</body>
</html>